<%- include header %>
<form method="post">
  User Name：<input type="text" name="name"/><br />
  Password：  <input type="password" name="password"/><br />
         <input type="submit" value="Login"/>
</form>
<a href = "/login/github"> Using Github Accout to Login </a>
<%- include footer %>