.container-fluid-second {
    margin-top: 9%;
}

.container-fluid-nav {
    background-color: rgb(182, 210, 93);
}
.navbar-collapse {
    background-color: rgb(182, 210, 93);
    margin-top: 2%;
    margin-bottom: 0.5%;
}
.navbar-brand {
    margin-top: 25%;
}
.navbar-default a, .navbar-brand{
    color: #222222 !important;
}
.search {
    margin-top: 3%;
}